body {
    position: relative;
    height:100%;
    margin:0;
}





/*This section styles my Main section*/


/*#board-section {
    margin-top:3rem;
    margin-bottom:8rem;
}*/




/*This section styles my Footer section*/
footer {

text-align:center;

}

footer a {
    list-style-type: none;
    text-decoration:none;
    color:black;
}


footer a:hover {
    opacity: 1;
    color:red;
    text-decoration:none;
    
}

footer a:active {
    opacity:0.5;
    color:green;
    text-decoration:none;
}

/*This Section contains style for the About.html page*/



